@charset "utf-8";

@media all {

    body {
        background: #00aadd;
    }

    .buscar-btn, .limpar-busca-btn {
        background: #df1a1a;
        color: #ffffff;
        border: none;
    }

    .buscar-btn:hover, .limpar-busca-btn:hover {
        background: #df2a2a;
        color: #ffffff;
    }

    #table_content_empresa > tr > td > a, #table_content_produto > tr > td > a {
        color: #df1a1a;
    }

    #table_content_empresa > tr > td > a:hover, #table_content_produto > tr > td > a:hover {
        color: #df5a5a;
        text-decoration: none;
    }

}
