@charset "utf-8";

@media all {

    body {
        background: #00aadd;
    }

    .voltar-btn {
        background: #df1a1a;
        color: #ffffff;
        border: none;
    }

    .voltar-btn:hover {
        background: #df2a2a;
        color: #ffffff;
    }

}