<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MyCSC Empresas - Adicionar Produto</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/adicionarproduto.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius: 0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/edashboard">
                        MyCSC 
                        <span style="color: #df1a1a;">Empresas</span>
                    </a>
                </div>
                <ul class="nav navbar-nav" style="float: right;">
                    <li><a href="/edashboard">Home</a></li>
                    <li><a href="/eprodutos">Produtos</a></li>
                    <li><a href="/eperfil">Perfil</a></li>
                    <li><a href="#" id="sair_btn">Sair</a></li>
                </ul>
            </div>
        </nav>

        <p id="email_label" style="color: #ffffff; float: right; margin: 60px 30px 0px 0px; font-size: 16px; font-weight: bold;"></p>

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/adicionarproduto.js"></script>
    </body>
</html>
